@using System.Diagnostics
@model IEnumerable<Inmobiliaria.Models.Inmueble>

@{
  ViewData["Title"] = "Listado de Inmuebles";
  Layout = "~/Views/Shared/_Layout.cshtml";
  ViewData["SubTitle"] = "Inmuebles";
  var paginaActual = ViewBag.PaginaActual ?? 1;
  var totalPaginas = ViewBag.TotalPaginas ?? 1;
  var direccionFiltro = ViewBag.Direccion ?? "";
  var dniFiltro = ViewBag.Dni ?? "";
  var idTipoFiltro = ViewBag.IdTipoInmueble ?? 0;
  var usoFiltro = ViewBag.Uso ?? 0;
  var ambientesFiltro = ViewBag.CantidadAmbientesMin ?? "";
  var precioMinFiltro = ViewBag.PrecioMin ?? "";
  var precioMaxFiltro = ViewBag.PrecioMax ?? "";
  var estadoFiltro = ViewBag.Estado ?? 0;
}

<div class="d-flex align-items-center mb-3">
  <h2 class="text-center py-4">@ViewData["Title"]</h2>

  <a class="btn btn-primary ms-3" asp-action="Crear">
    <img class="invert-color-icon" src="~/images/icon/Agregar.png" alt="">
  </a>
</div>
<div class="d-flex flex-column pt-4">
  <form method="get" asp-action="Listar" class="row g-2 bg-white shadow-sm rounded p-3">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-start align-items-center pb-2">
        <h4 class="ps-2 pe-3 m-0 fw-bold">Filtrar</h4>
      </div>
      <div class="col-md-2">
        <div class="zeg-field">
          <input type="text" id="direccion" name="direccion" value="@direccionFiltro" class="zeg-input"
            placeholder=" " />
          <label for="direccion">Dirección</label>
        </div>
      </div>
      <div class="col-md-2">
        <div class="zeg-field">
          <input type="text" id="dni" name="dni" value="@dniFiltro" class="zeg-input" placeholder=" " />
          <label for="dni">DNI Propietario</label>
        </div>
      </div>
      <div class="col-md-2">
        <div class="zeg-field">
          <select id="idTipoInmueble" name="idTipoInmueble" class="zeg-input">
            <option value=""></option>
            @foreach (var tipo in ViewBag.Tipos)
            {
              @if (tipo.IdTipoInmueble == idTipoFiltro)
              {
                <option value="@tipo.IdTipoInmueble" selected>@tipo.Nombre</option>
              }
              else
              {
                <option value="@tipo.IdTipoInmueble">@tipo.Nombre</option>
              }
            }
          </select>
          <label for="idTipoInmueble">Tipo de Inmueble</label>
        </div>
      </div>
      <div class="col-md-2">
        <div class="zeg-field">
          <select id="uso" name="uso" class="zeg-input">
            <option value=""></option>
            @if (usoFiltro == 1)
            {
              <option value="1" selected>Residencial</option>
            }
            else
            {
              <option value="1">Residencial</option>
            }
            @if (usoFiltro == 2)
            {
              <option value="2" selected>Comercial</option>
            }
            else
            {
              <option value="2">Comercial</option>
            }
          </select>
          <label for="uso">Uso</label>
        </div>
      </div>
      <div class="col-md-2">
        <div class="zeg-field">
          <input type="number" id="cantidadAmbientesMin" name="cantidadAmbientesMin" value="@ambientesFiltro"
            class="zeg-input" placeholder=" " />
          <label for="cantidadAmbientesMin">Mín. ambientes</label>
        </div>
      </div>
      <div class="col-md-2">
        <div class="zeg-field">
          <input type="number" id="precioMin" name="precioMin" value="@precioMinFiltro" class="zeg-input"
            placeholder=" " />
          <label for="precioMin">Precio mínimo</label>
        </div>
      </div>
      <div class="col-md-2">
        <div class="zeg-field">
          <input type="number" id="precioMax" name="precioMax" value="@precioMaxFiltro" class="zeg-input"
            placeholder=" " />
          <label for="precioMax">Precio máximo</label>
        </div>
      </div>

      <div class="col-md-2">
        <div class="zeg-field">
          <select id="estado" name="estado" class="zeg-input">
            <option value="" class="d-none"></option>
            <option value=" ">Todos</option>
            @switch (estadoFiltro)
            {
              case 1:
                <option value="1" selected>Disponible</option>
                <option value="2">Ocupado</option>
                <option value="3">Suspendido</option>
                break;
              case 2:
                <option value="1">Disponible</option>
                <option value="2" selected>Ocupado</option>
                <option value="3">Suspendido</option>
                break;
              case 3:
                <option value="1">Disponible</option>
                <option value="2">Ocupado</option>
                <option value="3" selected>Suspendido</option>
                break;
              default:
                <option value="1">Disponible</option>
                <option value="2">Ocupado</option>
                <option value="3">Suspendido</option>
                break;
            }

          </select>
          <label for="estado">Estado</label>
        </div>
      </div>

      <div class="col-md-8 d-flex justify-content-end align-items-center pb-3">
        <button type="submit" class="btn btn-outline-primary fw-bold">Filtrar</button>
      </div>
    </div>
  </form>
</div>

<div class="table-responsive shadow-sm rounded mt-4">
  <table class="table table-hover table-striped align-middle mb-0">
    <thead class="bg-primary text-white text-center">
      <tr>
        <th>@Html.DisplayNameFor(model => model.First().IdInmueble)</th>
        <th>@Html.DisplayNameFor(model => model.First().Direccion)</th>
        <th>Propietario</th>
        <th>Tipo</th>
        <th>Uso</th>
        <th>@Html.DisplayNameFor(model => model.First().CantidadAmbientes)</th>
        @* <th>@Html.DisplayNameFor(model => model.First().Descripcion)</th> *@
        <th>@Html.DisplayNameFor(model => model.First().Precio)</th>
        <th>@Html.DisplayNameFor(model => model.First().Estado)</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody class="text-center">
      @if (Model != null && Model.Any())
      {
        @foreach (var i in Model)
        {
          <tr>
            <td>@i.IdInmueble</td>
            <td class="text-truncate" style="max-width: 150px;">@i.Direccion</td>
            <td>@i.Propietario?.Nombre @i.Propietario?.Apellido</td>
            <td>@i.TipoInmueble?.Nombre</td>
            <td>@(i.Uso == 1 ? "Residencial" : "Comercial")</td>
            <td>@i.CantidadAmbientes</td>
            @* <td>@i.Descripcion</td> *@
            <td>@i.Precio</td>
            <td>
              @(i.Estado == 1 ? "Disponible" : i.Estado == 2 ? "Ocupado" : i.Estado == 3 ? "Suspendido" : "Desconocido")
            </td>
            <td class="d-flex justify-content-center">
              <a asp-controller="Contrato" asp-action="Crear" asp-route-idInmueble="@i.IdInmueble" class="btn btn-link" data-bs-toggle="tooltip" title="Hacer Contrato">
                <img src="~/images/icon/Contrato.png" alt="Contrato">
              </a>
              <a asp-action="Modificar" asp-route-id="@i.IdInmueble" class="btn btn-link" data-bs-toggle="tooltip" title="Modificar Inmueble">
                <img src="~/images/icon/Editar.png" alt="Editar">
              </a>
              <form asp-action="Eliminar" asp-route-id="@i.IdInmueble" method="post">
                <button type="submit" class="btn btn-link" data-bs-toggle="tooltip" title="Eliminar Inmueble">
                  <img src="~/images/icon/Eliminar.png" alt="Eliminar" />
                </button>
              </form>
            </td>
          </tr>
        }
      }
      else
      {
        <tr>
          <td colspan="8">No se encontraron Inmueble.</td>
        </tr>
      }
    </tbody>
  </table>
</div>

<div id="tooltip-info" class="rounded"
  style="display:none; width:300px; position:absolute; background:#fff; border:1px solid #ccc; padding:10px; box-shadow:0 4px 6px rgba(0,0,0,0.1); z-index:9999;">
</div>
@if (totalPaginas > 1)
{
  <nav aria-label="Paginación" class="mt-3">
    <ul class="pagination justify-content-center">
      @for (int i = 1; i <= totalPaginas; i++)
      {
        <li class="page-item @(i == paginaActual ? "active" : "")">
          <a class="page-link" asp-action="Listar" asp-route-direccion="@direccionFiltro" asp-route-dni="@dniFiltro"
            asp-route-idTipoInmueble="@idTipoFiltro" asp-route-uso="@usoFiltro"
            asp-route-cantidadAmbientesMin="@ambientesFiltro" asp-route-precioMin="@precioMinFiltro"
            asp-route-precioMax="@precioMaxFiltro" asp-route-estado="@estadoFiltro" asp-route-paginaActual="@i">@i</a>
        </li>
      }
    </ul>
  </nav>
}

<script>
  document.addEventListener("DOMContentLoaded", () => {

    document.querySelectorAll('select.zeg-input').forEach(select => {
      if (select.value !== "") select.classList.add('active');

      select.addEventListener('change', () => {
        if (select.value !== "") select.classList.add('active');
        else select.classList.remove('active');
      });
    });

    document.querySelectorAll('input.zeg-input, textarea.zeg-input').forEach(input => {
      if (input.value !== "") input.classList.add('active');
      input.addEventListener('input', () => {
        if (input.value !== "") input.classList.add('active');
        else input.classList.remove('active');
      });
    });

  });

</script>