@model Inmobiliaria.Models.Contrato
@{
  ViewData["Title"] = "Crear Contrato";
  ViewData["SubTitle"] = "Contratos";
  Layout = "~/Views/Shared/_Layout.cshtml";
  var Renovar = ViewBag.Renovar;
}

<div class="row h-100">
  <!-- COLUMNA IZQUIERDA -->
  <div class="col-md-6 py-5 d-flex justify-content-center">
    <!-- esto da el color -->
    <div class="col-md-10 shadow-lg rounded border bg-light p-5 h-100">
      <form asp-action="@((Model.IdContrato == 0 || Renovar == "Renovar") ? "CrearContrato" : "Cancelar")" method="post"
        class="h-100 d-flex flex-column justify-content-center">
        <div class="h-100 px-5 d-flex flex-column justify-content-between">
          <div>
            <h2 class="text-center mb-4">Contrato</h2>

            @if (Model != null && Model.Inquilino?.IdInquilino != 0)
            {
              <div class="mb-3">
                <label class="form-label">ID del Inquilino</label>
                <input asp-for="IdInquilino" class="form-control" readonly />
              </div>
            }
            else
            {
              <div class="mb-3">
                <label class="form-label">DNI del Inquilino</label>
                <input id="DniInquilino" oninput="buscarInquilino()" name="DniInquilino" class="form-control" />
              </div>
              <div class="d-none">
                <input asp-for="IdInquilino" type="hidden" id="IdInquilino" />
              </div>
            }

            <div class="mb-3">
              <label asp-for="IdInmueble" class="form-label">Cod. Inmueble</label>
              <input oninput="buscarInmueble()" asp-for="IdInmueble" class="form-control" />
            </div>

            <div class="row">
              <div class="col-6 mb-3">
                <label asp-for="FechaDesde" class="form-label">Fecha Desde</label>
                <input asp-for="FechaDesde" class="form-control" type="date" />
              </div>
              <div class="col-6 mb-3">
                <label asp-for="FechaHasta" class="form-label">Fecha Hasta</label>
                <input asp-for="FechaHasta" class="form-control" type="date" />
              </div>
            </div>

            <div class="mb-3">
              <label asp-for="MontoMensual" class="form-label">Monto Mensual</label>
              <input asp-for="MontoMensual" type="number" class="form-control" />
            </div>

            @if (Model != null && Model.IdContrato != 0)
            {
              <div class="mb-3">
                <label class="form-label">Estado</label>
                <input class="form-control" type="text" readonly
                  value="@(Model.Estado == 1 ? "Vigente" : Model.Estado == 3 ? "Cancelado" : Model.Estado == 2 ? "Finalizado" : "")" />
              </div>
              <div class="d-none">
                <input asp-for="IdContrato" type="hidden" id="IdContrato" />
              </div>

              @if (Model.Estado == 1)
              {
                <div class="d-none">
                  <input asp-for="FechaFin" type="hidden" value="@DateTime.Now" />
                </div>
              }
            }

            @if (Model != null && Model.IdContrato != 0 && Model.Multa != null && Model.FechaFin != null)
            {
              <div class="row">
                <div class="col-6 mb-3">
                  <label asp-for="FechaFin" class="form-label">Fecha Cancelación</label>
                  <input asp-for="FechaFin" class="form-control" type="date"
                    value="@(Model.FechaFin?.ToString("yyyy-MM-dd"))" readonly />
                </div>
                <div class="col-6 mb-3">
                  <label asp-for="Multa" class="form-label">Multa</label>
                  <input asp-for="Multa" class="form-control" readonly />
                </div>
              </div>
            }
          </div>

          <div class="d-flex justify-content-between mt-3">
            @if (Model != null && Model.IdContrato == 0)
            {
              <button type="submit" class="btn btn-success">Crear</button>
            }
            else if (Model != null && Model.IdContrato > 0 && Model.Estado == 1)
            {
              <button type="submit" class="btn btn-success">Cancelar Contrato</button>
            }
            else if (Model != null && Model.IdContrato > 0 && Renovar == "Renovar")
            {
              <button type="submit" class="btn btn-success">Renovar Contrato</button>
            }
            @if (Model != null && Model.IdContrato > 0 && Model.Estado == 1 && Model.CreatedAt.Date == DateTime.Today)
            {

              <button class="btn btn-outline-primary" type="button" data-bs-toggle="modal"
                data-bs-target="#editContratoModal" id="btnOpenEditModal">
                <i class="bi bi-pencil-square me-1"></i> Editar contrato
              </button>

            }
            <a href="/Contrato/Listar" class="btn btn-secondary">Volver</a>
          </div>
        </div>

      </form>
    </div>
  </div>
  <!-- COLUMNA Derecha -->
  <div class="col-md-6 py-5 row justify-content-between">
    <!-- Form superior -->
    <div class="pe-5 pb-4 h-50">
      <form id="formInquilino" class="shadow-lg rounded border bg-light h-100 p-5">
        <h2 class="text-center mb-3">Inquilino</h2>
        <div class="row">
          <div class="col-4 mb-3">
            <label for="dni" class="form-label">DNI</label>
            <input type="text" id="dni" name="dni" class="form-control" value="@Model.Inquilino?.Dni" readonly />
          </div>
          <div class="col-4 mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" id="nombre" name="nombre" class="form-control" value="@Model.Inquilino?.Nombre"
              readonly />
          </div>
          <div class="col-4 mb-3">
            <label for="apellido" class="form-label">Apellido</label>
            <input type="text" id="apellido" name="apellido" class="form-control" value="@Model.Inquilino?.Apellido"
              readonly />
          </div>
          <div class="col-6 mb-3">
            <label for="telefono" class="form-label">Teléfono</label>
            <input type="text" id="telefono" name="telefono" class="form-control" value="@Model.Inquilino?.Telefono"
              readonly />
          </div>
          <div class="col-6 mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" name="email" class="form-control" value="@Model.Inquilino?.Email" readonly />
          </div>
        </div>
      </form>
    </div>
    <!-- Form inferior -->
    <div class="pe-5 pt-4 h-50 d-flex align-items-end">
      <form id="formInmueble" class="shadow-lg rounded border bg-light h-100 p-5">
        <h2 class="text-center mb-3">Inmueble</h2>
        <div class="row">
          <div class="col-4 mb-3">
            <label for="idInmueble" class="form-label">Código</label>
            <input type="text" id="idInmueble" name="idInmueble" class="form-control"
              value="@Model.Inmueble?.IdInmueble" readonly />
          </div>
          <div class="col-4 mb-3">
            <label for="tipoInmueble" class="form-label">Tipo de Inmueble</label>
            <input type="text" id="tipoInmueble" name="tipoInmueble" class="form-control"
              value="@Model.Inmueble?.TipoInmueble?.Nombre" readonly />
          </div>
          <div class="col-4 mb-3">
            <label for="precio" class="form-label">Precio</label>
            <input type="text" id="precio" name="precio" class="form-control" value="@Model.Inmueble?.Precio"
              readonly />
          </div>
          <div class="col-6 mb-3">
            <label for="direccion" class="form-label">Dirección</label>
            <input type="text" id="direccion" name="direccion" class="form-control" value="@Model.Inmueble?.Direccion"
              readonly />
          </div>
          <div class="col-6 mb-3">
            <label for="cantidad_ambientes" class="form-label">Descripción</label>
            <input type="text" id="cantidad_ambientes" name="cantidad_ambientes" class="form-control"
              value="@Model.Inmueble?.Descripcion" readonly />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

@if (Model != null && Model.IdContrato > 0 && Model.Estado == 1 && Model.CreatedAt.Date == DateTime.Today)
{
  <div class="modal fade" id="editContratoModal" tabindex="-1" aria-labelledby="editContratoModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header bg-azul-oscuro color-gris">
          <h5 class="modal-title" id="editContratoModalLabel">Editar contrato</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
          <form>
            <input type="hidden" name="IdContrato" value="@Model.IdContrato" />
            <input type="hidden" name="IdInmueble" value="@Model.IdInmueble" />
            <input type="hidden" name="IdInquilino" value="@Model.IdInquilino" />

            <div class="row">
              <div class="col-12 mb-3">
                <label class="form-label">Fecha Desde</label>
                <input name="FechaDesde" type="date" class="form-control"
                  value="@(Model.FechaDesde.ToString("yyyy-MM-dd"))" required />
              </div>
              <div class="col-12 mb-3">
                <label class="form-label">Fecha Hasta</label>
                <input name="FechaHasta" type="date" class="form-control"
                  value="@(Model.FechaHasta.ToString("yyyy-MM-dd"))" required />
              </div>
              <div class="col-12 mb-3">
                <label class="form-label">Monto Mensual</label>
                <input name="MontoMensual" type="text" class="form-control"
                  value="@(Model.MontoMensual.ToString(System.Globalization.CultureInfo.InvariantCulture))" required />
              </div>
            </div>

            <div class="d-flex justify-content-end">
              <button type="button" class="btn btn-secondary me-2" data-bs-dismiss="modal">Cerrar</button>
              <button type="submit" class="btn btn-primary">Guardar cambios</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

}

<script>
  async function buscarInquilino() {
    const dniInput = document.getElementById("DniInquilino");
    const dni = dniInput.value.trim();
    document.getElementById("dni").value = "";
    document.getElementById("IdInquilino").value = "";
    document.getElementById("nombre").value = "";
    document.getElementById("apellido").value = "";
    document.getElementById("telefono").value = "";
    document.getElementById("email").value = "";
    try {
      if (!/^[0-9]+$/.test(dni) || (dni.length !== 7 && dni.length !== 8)) {
        return;
      }
      const response = await fetch(`/Inquilino/Inquilino?dni=${dni}`)
      if (!response.ok) {
        return;
      }
      const text = await response.text();
      if (!text) {
        console.warn("El servidor devolvió vacío");
        return;
      }
      const data = JSON.parse(text);
      if (!data) {
        console.warn("No se encontró el inquilino");
        return;
      }
      if (data.estado == 0) {
        console.warn("El inmueble no está disponible")
        return;
      }

      document.getElementById("dni").value = data.dni || "";
      document.getElementById('IdInquilino').value = data.idInquilino || "";
      document.getElementById("nombre").value = data.nombre || "";
      document.getElementById("apellido").value = data.apellido || "";
      document.getElementById("telefono").value = data.telefono || "";
      document.getElementById("email").value = data.email || "";

      console.warn("Datos cargados en el formulario");
    } catch (error) {
      alert("Hubo un problema al buscar");
      console.error(error);
    }
  }

  async function buscarInmueble() {
    const idInput = document.getElementById("IdInmueble");
    const idInmueble = idInput.value.trim();
    document.getElementById("idInmueble").value = "";
    document.getElementById("tipoInmueble").value = "";
    document.getElementById("precio").value = "";
    document.getElementById("direccion").value = "";
    document.getElementById("cantidad_ambientes").value = "";
    try {
      if (!/^[0-9]+$/.test(idInmueble)) {
        return;
      }
      const response = await fetch(`/Inmueble/Inmueble?idInmueble=${idInmueble}`);

      if (!response.ok) {
        console.error("Error en la respuesta:", response.status);
        return;
      }
      const text = await response.text();
      if (!text) {
        console.warn("El servidor devolvió vacío");
        return;
      }
      const data = JSON.parse(text);
      if (!data) {
        console.warn("No se encontró el inquilino");
        return;
      }

      document.getElementById("idInmueble").value = data.idInmueble || "";
      document.getElementById("tipoInmueble").value = data.idTipoInmueble || "";
      document.getElementById("precio").value = data.precio || "";
      document.getElementById("direccion").value = data.direccion || "";
      document.getElementById("cantidad_ambientes").value = data.cantidadAmbientes || "";
    } catch (error) {
      alert("Hubo un problema al buscar");
      console.error(error);
    }
  }
</script>